body {
    font-family: Arial, sans-serif;
    background-color: rgb(202,220,252);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    color:white;
    text-align: center;
    background:rgb(0,36,107);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#countdown {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.time {
    font-size: 2em;
    margin: 0 10px;
}

.label {
    font-size: 0.5em;
    text-transform: uppercase;
}